#first_video{
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

#second_video{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#third_video{
    
    display: flex;
    flex-direction: column;
    align-items: right;
}